<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
    <style>
    .button {
      background-color: #008CBA; /* Blue */
      border: none;
      color: white;
      width:50%;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
    }

    .selectbox{
      background-color:black;
    }
    </style>
</head>

<body>
    <p id = "p" style="color:white;font-size:16px;">
        Current ({{sensor}}): {{ value }}{{unit}}
    </p>

    <div style="display:inline-table;">   
    
        <select id="SR" name="SR" class="button selectbox">
          <option value="1">1s</option>
          <option value="5">5s</option>
          <option value="30">30s</option>
        </select>

        <button class = "button">Set</button>

    </div>
    <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
          var sr = document.getElementById("SR");
          var srVal = sr.options[sr.selectedIndex].value;
          var dev = '{{ device }}';
          var chan = '{{ channel }}';
          var sen = '{{ sensor }}';
          $.ajax({url: "/SendMessage/"+srVal+ "/" + dev + "/" + chan +"/sensors/" + sen, success: function(result){
            $("#div1").html(result);
          }});
        });
      });
    </script>

</body>

</html>
